body {margin-right:2em;}
.nikaya {font-size:200%; text-align:center; font-weight:bold;}
.book {font-size:180%; text-align:center; font-weight:bold;}
.chapter {font-size:150%; text-align:center; font-weight:bold;}
.title {font-size:120%; text-align:center; font-weight:bold;}
.bodytext {font-size:100%; text-indent:4em;}
.hangnum {font-size:100%; margin-bottom:0em; text-indent:4em;}
.centered {font-size:100%; text-align:center;}
.indent {font-size:100%; text-indent:4em; margin-left:6em;}
.unindented {font-size:100%;}
.subhead {font-size:100%; text-align:center; font-weight:bold;}
.subsubhead {font-size:100%; text-align:center; font-weight:bold;}
.gatha1 {font-size:100%; margin-bottom:0em; margin-left:8em;}
.gatha2 {font-size:100%; margin-bottom:0em; margin-left:8em;}
.gatha3 {font-size:100%; margin-bottom:0em; margin-left:8em;}
.gathalast {font-size:100%; margin-bottom:2em; margin-left:8em;}
.bld {font-weight:bold;}
.paranum {font-weight:bold;}
